<mat-card class="text-center">
  <mat-card-title>
    <h4>
      <img src="assets/images/logo.svg" height="50px" class="ml-2 v-middle">
      <span class="stylish">Gifts hub</span>
    </h4>
    <h6>{{'user.register.progress'|translate}}</h6>
  </mat-card-title>
  <div>
    <form [formGroup]="baseForm">
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
        <mat-form-field fxFlex="40" fxFlex.lt-sm="100">
          <input matInput placeholder="{{'user.firstname.text'|translate}}" formControlName="name" required
                 autocomplete="name">
          <mat-hint>{{'user.firstname.hint'|translate}}</mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
        <mat-form-field fxFlex="40" fxFlex.lt-sm="100">
          <input matInput placeholder="{{'user.surname.text'|translate}}" formControlName="surname"
                 autocomplete="surname"
                 required>
          <mat-hint>{{'user.surname.hint'|translate}}</mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
        <mat-form-field fxFlex="40" fxFlex.lt-sm="100">
          <input matInput placeholder="{{'user.username'|translate}}" formControlName="username" autocomplete="off"
                 required>
          <mat-hint>{{'user.register.username.chars'|translate}}</mat-hint>
          <mat-error *ngIf="baseForm.controls.username.hasError('badusername')">
            {{'user.register.username.chars'|translate}}
          </mat-error>
          <mat-error *ngIf="baseForm.controls.username.hasError('username')">
            {{'user.register.username.exists'|translate}}
          </mat-error>
          <mat-icon matSuffix class="text-green" *ngIf="validUsername">check</mat-icon>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
        <mat-form-field fxFlex="40" fxFlex.lt-sm="100">
          <input matInput placeholder="Email" formControlName="email" autocomplete="email">
          <mat-hint> {{'user.email'|translate}}</mat-hint>
          <mat-error *ngIf="baseForm.controls.email.hasError('email')">
            {{'user.register.email.invalid'|translate}}
          </mat-error>
          <mat-error *ngIf="baseForm.hasError('required')">
            {{'user.register.email.required'|translate}}
          </mat-error>
          <mat-error *ngIf="baseForm.controls.email.hasError('duplicated')">
            {{'user.register.email.exists'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <form [formGroup]="passwordForm">
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
        <mat-form-field fxFlex="40" fxFlex.lt-sm="100">
          <input matInput placeholder="{{'user.password.text'|translate}}"
                 formControlName="password" required type="password">
          <mat-hint>{{'user.register.password.hint'|translate}}</mat-hint>
          <mat-error *ngIf="passwordForm.hasError('required', ['password'])">
            {{'user.register.password.required'|translate}}
          </mat-error>
          <mat-error *ngIf="passwordForm.hasError('weak', ['password'])">
            {{'user.register.password.tooweak'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
        <mat-form-field fxFlex="40" fxFlex.lt-sm="100">
          <input matInput placeholder="{{'user.register.password.confirm'|translate}}"
                 formControlName="confirmPassword" required
                 [errorStateMatcher]="matcher"
                 type="password">
          <mat-hint>{{'user.register.password.confirm'|translate}}</mat-hint>
          <mat-error *ngIf="passwordForm.hasError('notSame')">
            {{'user.register.password.nomatch'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="text-left mt-3">
        <div fxFlex="40" fxFlex.lt-sm="100">
          <div>
            <span fxShow.lt-sm="false">{{'user.register.password.strength'|translate}}</span>
            <ng2-password-strength-bar
              [passwordToCheck]="currentPass"
              [barColors]="myColors">
            </ng2-password-strength-bar>

          </div>
          <div>
            <button mat-raised-button [disabled]="baseForm.invalid || passwordForm.invalid"
                    (click)="register()"
                    class="pull-right success-button">
              {{'user.register.text'|translate}}
            </button>
          </div>
        </div>
      </div>
      <div>
        {{'user.login.existing'|translate}}
        <a routerLink="/login">
          {{'user.login.text'|translate}}
        </a>
      </div>
    </form>
  </div>
</mat-card>
