<p>
  home works!
</p>
<h4>
  Welcome {{account.name}} {{account.surname}}
</h4>
<div>
  <img *ngIf="account.avatar" [src]="account.avatar" class="avatar nav-avatar"/>
</div>
<div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus placerat felis et tempor. Duis ornare et libero
  sed venenatis. Aenean vulputate, magna in molestie efficitur, nisl turpis congue ligula, at finibus diam elit in
  massa. Aenean diam erat, accumsan sit amet rhoncus quis, suscipit in ligula. Donec in mollis nisl. Praesent nec
  vestibulum sem, ut lobortis nisl. Mauris id egestas erat.

  Sed aliquet blandit nibh in molestie. Fusce vitae fermentum purus. Ut eu massa vitae nunc dapibus porta non eu mauris.
  Nunc tempor ante lobortis nulla malesuada interdum. Quisque ut augue venenatis, finibus elit ac, mollis lorem.
  Phasellus lobortis magna id metus vestibulum, at scelerisque mi sollicitudin. Vivamus volutpat vestibulum condimentum.

  Donec gravida lobortis nisl, id condimentum libero tempus sed. Morbi ac nibh sed justo semper rutrum. Duis consectetur
  hendrerit efficitur. Vestibulum a arcu nec felis tempus vulputate vel et augue. Praesent commodo ex ut feugiat
  maximus. Phasellus nec condimentum purus, eu mattis quam. Vestibulum rhoncus, massa nec volutpat tristique, neque
  mauris eleifend sem, sed elementum lectus diam quis nisi. Nulla facilisi. Donec eu ligula urna. Pellentesque vitae
  tincidunt sem.

  Duis cursus ultricies massa, eget vulputate felis aliquam non. Sed auctor pretium massa in imperdiet. Nulla fringilla
  nibh metus, nec viverra ex pharetra et. Fusce id posuere sapien. Integer sed pulvinar odio, nec mollis arcu. Nullam
  vitae fermentum massa. Aliquam vitae dui feugiat ex ullamcorper tincidunt. Cras in turpis ut mi gravida fermentum eget
  id elit. Aliquam quis pretium eros, et bibendum odio. Mauris a quam ut velit iaculis iaculis non sit amet felis.
  Phasellus gravida purus nec massa aliquet facilisis. Fusce quis sapien in urna sollicitudin luctus ut eu est. Vivamus
  tincidunt ipsum sit amet facilisis laoreet. Phasellus ut massa eu turpis commodo egestas sed ut ante. Lorem ipsum
  dolor sit amet, consectetur adipiscing elit. Quisque vel nibh consequat, facilisis sapien quis, tincidunt mi.

  Phasellus ultricies vulputate arcu bibendum aliquam. Praesent tincidunt scelerisque faucibus. Maecenas hendrerit
  suscipit enim eget efficitur. Integer tincidunt pretium porta. Vestibulum ante ipsum primis in faucibus orci luctus et
  ultrices posuere cubilia Curae; Fusce nibh mauris, pharetra at rhoncus malesuada, pellentesque at diam. Integer ut
  pulvinar tellus, in sollicitudin sapien. Quisque in dolor tincidunt, mollis ligula a, aliquet turpis. In rutrum
  pretium dui sit amet maximus. Maecenas tincidunt nunc quis aliquam cursus. Ut facilisis aliquet blandit. Phasellus
  quis neque in lacus ultricies pharetra vitae in quam.

  Nullam mattis tempor libero nec volutpat. Vivamus molestie massa neque. Praesent consectetur purus ut molestie
  accumsan. Nulla varius, enim non iaculis pulvinar, ex nisl eleifend felis, ac commodo tortor ex non neque. In hac
  habitasse platea dictumst. Cras tempor, velit ut placerat vulputate, felis augue facilisis felis, vel tempor mauris
  ipsum gravida metus. Integer id dui efficitur, pulvinar nulla a, ultrices felis. Ut cursus purus et sapien placerat,
  quis consequat dolor auctor. Duis feugiat maximus mi, in lacinia lacus consectetur ac. Vestibulum ultricies, lorem
  eget scelerisque feugiat, enim enim ullamcorper nibh, quis elementum erat sem et turpis. Morbi vitae dui augue. Donec
  varius enim felis.

  Aliquam eget massa luctus, pretium est sit amet, scelerisque elit. Phasellus congue turpis ac ante dignissim, et
  accumsan orci finibus. Nullam at urna sed lorem aliquet sagittis. Maecenas ut urna tellus. Morbi rutrum, est pharetra
  interdum luctus, mi arcu volutpat purus, sit amet aliquam felis diam at tortor. In quis quam eu velit sodales
  ultricies. Donec ut leo vitae leo dignissim accumsan et quis nisl. Maecenas imperdiet justo sed ex consequat, sed
  facilisis diam vehicula.

  Etiam sit amet nisi convallis, pretium ante non, pretium sapien. Nam massa metus, ullamcorper at erat vitae, consequat
  consectetur lectus. Fusce a lorem nibh. Sed volutpat, justo non hendrerit rutrum, ante justo lacinia nunc, tincidunt
  semper turpis quam at ipsum. Aliquam placerat est ac ligula placerat, in bibendum dui lobortis. Sed ultrices erat
  nulla, et ultricies augue dictum eget. Sed turpis ligula, viverra non urna vel, ultricies dapibus nibh. Nulla tellus
  leo, accumsan et sollicitudin viverra, interdum vel mi.

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis libero sed euismod posuere. Integer vitae
  tincidunt quam, non porttitor odio. Cras hendrerit ante at ligula tristique laoreet. In eget mauris pellentesque,
  dapibus massa aliquam, pretium quam. Suspendisse volutpat nec arcu in viverra. Nullam ut nunc posuere, maximus diam
  id, elementum nisl. Vivamus sed mauris venenatis, hendrerit augue eget, imperdiet urna. Proin et urna vehicula, ornare
  tellus a, semper velit. Integer vitae vehicula lectus. Integer ultricies, justo eu scelerisque bibendum, ligula est
  cursus lorem, at viverra leo sapien vel turpis. Duis quis urna id justo faucibus dapibus sit amet a felis. Quisque
  porta venenatis suscipit. Proin vel neque ac lectus semper consectetur eu sit amet orci.

  Vivamus sit amet ipsum pulvinar, eleifend lectus commodo, finibus nisi. Quisque tincidunt ut odio sed ultricies.
  Vestibulum pellentesque purus at felis cursus viverra. Fusce sagittis, massa non mollis porta, mauris mauris maximus
  nisi, suscipit gravida lacus quam non velit. Nam vel porta neque, sed mollis mauris. Suspendisse commodo fermentum
  aliquam. Phasellus vehicula risus in nibh aliquet, et posuere augue gravida. Sed vel tellus lacinia, fermentum tellus
  quis, sodales nibh. Nunc non turpis nisl. Morbi id nunc in purus euismod vehicula ut id ligula. Etiam malesuada sem a
  diam egestas, nec lacinia felis euismod. Aenean molestie volutpat massa, eu imperdiet urna tristique et. Pellentesque
  consequat lacus ex, sit amet posuere libero commodo a.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus placerat felis et tempor. Duis ornare et libero
  sed venenatis. Aenean vulputate, magna in molestie efficitur, nisl turpis congue ligula, at finibus diam elit in
  massa. Aenean diam erat, accumsan sit amet rhoncus quis, suscipit in ligula. Donec in mollis nisl. Praesent nec
  vestibulum sem, ut lobortis nisl. Mauris id egestas erat.

  Sed aliquet blandit nibh in molestie. Fusce vitae fermentum purus. Ut eu massa vitae nunc dapibus porta non eu mauris.
  Nunc tempor ante lobortis nulla malesuada interdum. Quisque ut augue venenatis, finibus elit ac, mollis lorem.
  Phasellus lobortis magna id metus vestibulum, at scelerisque mi sollicitudin. Vivamus volutpat vestibulum condimentum.

  Donec gravida lobortis nisl, id condimentum libero tempus sed. Morbi ac nibh sed justo semper rutrum. Duis consectetur
  hendrerit efficitur. Vestibulum a arcu nec felis tempus vulputate vel et augue. Praesent commodo ex ut feugiat
  maximus. Phasellus nec condimentum purus, eu mattis quam. Vestibulum rhoncus, massa nec volutpat tristique, neque
  mauris eleifend sem, sed elementum lectus diam quis nisi. Nulla facilisi. Donec eu ligula urna. Pellentesque vitae
  tincidunt sem.

  Duis cursus ultricies massa, eget vulputate felis aliquam non. Sed auctor pretium massa in imperdiet. Nulla fringilla
  nibh metus, nec viverra ex pharetra et. Fusce id posuere sapien. Integer sed pulvinar odio, nec mollis arcu. Nullam
  vitae fermentum massa. Aliquam vitae dui feugiat ex ullamcorper tincidunt. Cras in turpis ut mi gravida fermentum eget
  id elit. Aliquam quis pretium eros, et bibendum odio. Mauris a quam ut velit iaculis iaculis non sit amet felis.
  Phasellus gravida purus nec massa aliquet facilisis. Fusce quis sapien in urna sollicitudin luctus ut eu est. Vivamus
  tincidunt ipsum sit amet facilisis laoreet. Phasellus ut massa eu turpis commodo egestas sed ut ante. Lorem ipsum
  dolor sit amet, consectetur adipiscing elit. Quisque vel nibh consequat, facilisis sapien quis, tincidunt mi.

  Phasellus ultricies vulputate arcu bibendum aliquam. Praesent tincidunt scelerisque faucibus. Maecenas hendrerit
  suscipit enim eget efficitur. Integer tincidunt pretium porta. Vestibulum ante ipsum primis in faucibus orci luctus et
  ultrices posuere cubilia Curae; Fusce nibh mauris, pharetra at rhoncus malesuada, pellentesque at diam. Integer ut
  pulvinar tellus, in sollicitudin sapien. Quisque in dolor tincidunt, mollis ligula a, aliquet turpis. In rutrum
  pretium dui sit amet maximus. Maecenas tincidunt nunc quis aliquam cursus. Ut facilisis aliquet blandit. Phasellus
  quis neque in lacus ultricies pharetra vitae in quam.

  Nullam mattis tempor libero nec volutpat. Vivamus molestie massa neque. Praesent consectetur purus ut molestie
  accumsan. Nulla varius, enim non iaculis pulvinar, ex nisl eleifend felis, ac commodo tortor ex non neque. In hac
  habitasse platea dictumst. Cras tempor, velit ut placerat vulputate, felis augue facilisis felis, vel tempor mauris
  ipsum gravida metus. Integer id dui efficitur, pulvinar nulla a, ultrices felis. Ut cursus purus et sapien placerat,
  quis consequat dolor auctor. Duis feugiat maximus mi, in lacinia lacus consectetur ac. Vestibulum ultricies, lorem
  eget scelerisque feugiat, enim enim ullamcorper nibh, quis elementum erat sem et turpis. Morbi vitae dui augue. Donec
  varius enim felis.

  Aliquam eget massa luctus, pretium est sit amet, scelerisque elit. Phasellus congue turpis ac ante dignissim, et
  accumsan orci finibus. Nullam at urna sed lorem aliquet sagittis. Maecenas ut urna tellus. Morbi rutrum, est pharetra
  interdum luctus, mi arcu volutpat purus, sit amet aliquam felis diam at tortor. In quis quam eu velit sodales
  ultricies. Donec ut leo vitae leo dignissim accumsan et quis nisl. Maecenas imperdiet justo sed ex consequat, sed
  facilisis diam vehicula.

  Etiam sit amet nisi convallis, pretium ante non, pretium sapien. Nam massa metus, ullamcorper at erat vitae, consequat
  consectetur lectus. Fusce a lorem nibh. Sed volutpat, justo non hendrerit rutrum, ante justo lacinia nunc, tincidunt
  semper turpis quam at ipsum. Aliquam placerat est ac ligula placerat, in bibendum dui lobortis. Sed ultrices erat
  nulla, et ultricies augue dictum eget. Sed turpis ligula, viverra non urna vel, ultricies dapibus nibh. Nulla tellus
  leo, accumsan et sollicitudin viverra, interdum vel mi.

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis libero sed euismod posuere. Integer vitae
  tincidunt quam, non porttitor odio. Cras hendrerit ante at ligula tristique laoreet. In eget mauris pellentesque,
  dapibus massa aliquam, pretium quam. Suspendisse volutpat nec arcu in viverra. Nullam ut nunc posuere, maximus diam
  id, elementum nisl. Vivamus sed mauris venenatis, hendrerit augue eget, imperdiet urna. Proin et urna vehicula, ornare
  tellus a, semper velit. Integer vitae vehicula lectus. Integer ultricies, justo eu scelerisque bibendum, ligula est
  cursus lorem, at viverra leo sapien vel turpis. Duis quis urna id justo faucibus dapibus sit amet a felis. Quisque
  porta venenatis suscipit. Proin vel neque ac lectus semper consectetur eu sit amet orci.

  Vivamus sit amet ipsum pulvinar, eleifend lectus commodo, finibus nisi. Quisque tincidunt ut odio sed ultricies.
  Vestibulum pellentesque purus at felis cursus viverra. Fusce sagittis, massa non mollis porta, mauris mauris maximus
  nisi, suscipit gravida lacus quam non velit. Nam vel porta neque, sed mollis mauris. Suspendisse commodo fermentum
  aliquam. Phasellus vehicula risus in nibh aliquet, et posuere augue gravida. Sed vel tellus lacinia, fermentum tellus
  quis, sodales nibh. Nunc non turpis nisl. Morbi id nunc in purus euismod vehicula ut id ligula. Etiam malesuada sem a
  diam egestas, nec lacinia felis euismod. Aenean molestie volutpat massa, eu imperdiet urna tristique et. Pellentesque
  consequat lacus ex, sit amet posuere libero commodo a.
</div>
