<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        <i class="fa fa-gift" aria-hidden="true"></i>&nbsp;
        {{editInProgress? 'gift.edit':'gift.create' | translate}}
    </h3>
</div>
<form role="form" name="mainGiftForm" ng-submit="sendGiftData()">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-offset-1 col-md-10" id="gift-details">
                <input type="hidden" name="validForm">
                <input type="hidden" ng-model="giftForm.username">
                <input type="hidden" ng-model="giftForm.id">
                <div class="form-group" show-errors="">
                    <label for="name">{{'gift.name'|translate}}*</label>
                    <input type="text" class="form-control" id="name" name="name" ng-model="giftForm.name"
                           required="required"/>
                </div>
                <div class="form-group" show-errors="">
                    <label for="description" translate="gift.description"></label>
                    <textarea class="form-control" id="description" name="description" ng-model="giftForm.description">
                </textarea>
                </div>
                <label translate="gift.link"></label>
                <div ng-repeat="link in giftForm.links track by $index" class="row">
                    <div class="col-xs-10">
                        <div class="form-group" show-errors="">
                            <input type="hidden" ng-model="link.id">
                            <input type="url" class="form-control" name="link" ng-model="link.url"/>
                            <span class="validation-error" ng-show="link.invalid"
                                  translate="gift.link.error"></span>
                        </div>
                    </div>
                    <div class="col-xs-2 margin-top5">
                        <i class="clickable fa fa-plus" ng-click="addNewLinkField()" uib-tooltip="{{'gift.link.add' | translate}}"></i>&nbsp;
                        <i ng-if="$index > 0" class="clickable fa fa-minus" ng-click="removeLinkField($index)" uib-tooltip="{{'gift.link.remove' | translate}}"></i>
                    </div>

                </div>
                <div class="form-group">
                    <label for="category" translate="gift.category"></label>
                    <ui-select ng-model="giftForm.category" id="category" on-select="checkCategory($item, giftForm)">
                        <ui-select-match placeholder="{{'gift.category.choose'|translate}}" allow-clear="true">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="category in (categories | filter: $select.search) track by category.id"
                                refresh="refreshResults($select)" refresh-delay="0">
                            <span ng-bind="category.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="alert alert-warning" ng-show="giftForm.categoryError"
                     ng-bind-html="giftForm.categoryError"></div>
                <label translate="app.manage.search.engine"></label>
                <div class="form-group">
                <span ng-repeat="engine in searchEngines">
                    <label>
                        <input type="checkbox" ng-model="giftForm.searchEngines[engine.id]" name="searchEngines"
                               id="{{engine.id}}"/>
                        <i ng-class="'fa fa-fw '+ engine.icon"></i>{{engine.name}}
                    </label><br/>
                </span>
                    <span class="help-block" translate="gift.search.help"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class="btn btn-default" ng-click="cancel()" translate="main.cancel"></a>
        <button class="btn btn-primary" type="button" ng-click="action()">
            {{editInProgress? 'main.edit':'main.create' | translate}}
        </button>
    </div>
</form>