<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
        {{'gift.import'| translate}}
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <span class="help-block">{{modalHelp}}</span>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 bordered text-center" ng-show="!importFinished">
            <div class="row">
                <div class="col-xs-8">
                    <span class="margin-right5" ng-if="!gotFile">{{'gift.import.chooseFile'|translate}}</span>
                    <span class="margin-right5" ng-if="fileName" style="word-wrap: break-word;">{{fileName}}</span>
                </div>
                <div class="col-xs-4">
                    <label for="fileInput" class="btn btn-default clickable">
                        <i class="fa fa-upload" uib-tooltip="{{'user.settings.avatar.upload'|translate}}"></i>
                        &nbsp;<span class="hidden-xs" translate="user.settings.avatar.upload"></span>
                    </label>
                    <input type="file" id="fileInput"
                           accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                           onchange="angular.element(this).scope().handleFileSelect(this)"/>
                </div>
            </div>
        </div>
        <div class="row" ng-show="!importFinished">
            <div class="col-xs-12 text-center">
                <a href="api/gift/get-template">{{'gift.import.template'|translate}}</a>
            </div>
        </div>
        <div ng-show="importFinished">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 text-center">
                    <i class="fa fa-lg fa-check"></i>&nbsp;{{'gift.import.done'|translate}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 bordered" ng-bind-html="logmessage">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div ng-show="!importFinished">
        <button class="btn btn-default" type="button" ng-click="cancel()">{{'main.cancel'|translate}}</button>
        <button class="btn btn-primary" type="button" ng-click="action()" ng-disabled="!gotFile">
            {{'gift.import.importFile'|translate}}
        </button>
    </div>
    <div ng-show="importFinished">
        <button class="btn btn-primary" type="button" ng-click="close()" ng-disabled="!gotFile">
            {{'main.close'|translate}}
        </button>
    </div>
</div>
