main {
  margin-top: 65px;
}

img.avatar {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding: 0;
}

img.avatar.small {
  height: 30px;
  width: 30px;
}

img.avatar.large {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.stylish {
  font-family: 'Kaushan Script', cursive !important;
}

.stylish-header {
  font-family: 'Kalam', cursive;
  font-weight: normal;
  font-size: 1.3rem;
}

.even {
  background: #f3f3f3;
}

.header {
  font-size: smaller;
}

.help {
  color: gray;
}

.header-button {
  min-width: 3rem !important;
  padding: 0 0.5rem !important;
}

.full-page {
  height: 90vh;
}

.go-to-top-custom {
  height: 40px;
  width: 40px;
  background-color: pink;
  z-index: 999;
  right: 5px;
  bottom: 5px;
  top: initial;
  line-height: 20px;
}

@media (max-width: 768px) {
  .go-top-button {
    z-index: 999 !important;
  }
}
