<navigation-unauthenticated></navigation-unauthenticated>
<main class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%"
      fxLayoutAlign="center">
  <div fxFlex="80%">
    <mat-card class="pb-1 pt-1 fixed-container header">
      <div fxlayout="row" fxLayoutAlign="center center">
        <div fxFlex="10%" fxFlex.lt-sm="15%">
          <img matCardAvatar [src]="avatar" class="avatar">
        </div>
        <div fxFlex>
          <h3>
            {{'gift.list.public.text'|translate}} - {{identification}}
          </h3>
        </div>
      </div>
      <!--Names header-->
      <div fxLayout="row" fxLayoutGap="5px" fxShow.lt-sm="false">
        <div fxFlex="35">
          {{'gift.name'|translate}}
        </div>
        <div fxFlex="35">
          {{'gift.description'|translate}}
        </div>
        <div fxFlex="5">
          {{'gift.link.text'|translate}}
        </div>
        <div fxFlex="10" class="text-right">
          {{'gift.add.date'|translate}}
        </div>
      </div>
    </mat-card>
    <div class="content">
      <ng-container *ngFor="let key of categorizedKeys">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>{{key}}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let gift of categorizedGifts[key];let even=even;trackBy: trackByFn">
            <gift [gift]="gift"
                  [even]="even"
            ></gift>
          </div>
        </mat-expansion-panel>
      </ng-container>
      <!--OTHER-->
      <mat-expansion-panel expanded="true" *ngIf="unCategorizedGifts && unCategorizedGifts.length > 0 ">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>{{label_other}}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let gift of unCategorizedGifts;let even=even">
          <gift [gift]="gift"
                [even]="even"
          ></gift>
        </div>
      </mat-expansion-panel>
      <!--REALISED-->
      <mat-expansion-panel expanded="true" *ngIf="realizedGifts && realizedGifts.length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>{{label_realised}}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let gift of realizedGifts;let even=even">
          <gift [gift]="gift"
                [even]="even"
          ></gift>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</main>
