<h1 mat-dialog-title>
  <i class="fa fa-gift mr-1"></i>
  {{update ? ('gift.edit.text'|translate) : ('gift.new.addHeader'|translate)}}
</h1>
<mat-dialog-content class="gift-dialog" [@.disabled]="disableAnimation">
  <form [formGroup]="form">
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap.gt-sm="20px">
      <div [fxFlex]="65" [fxFlex.lt-sm]="100">
        <!--GIFT DETAIL-->
        <mat-card class="mb-2">
          <div>
            <mat-form-field fxFlex="100%">
              <input matInput placeholder=" {{'gift.name'|translate}}" formControlName="name" required autocomplete="off">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field fxFlex="100%">
            <textarea matInput placeholder=" {{'gift.description'|translate}}" formControlName="description"
                      rows="4"></textarea>
            </mat-form-field>
          </div>
        </mat-card>
        <!--LINKS-->
        <mat-expansion-panel [expanded]="LinksExpanded" class="mb-2">
          <mat-expansion-panel-header>
            <strong>
              <i class="fa fa-link mr-1"></i>
              {{'gift.link.text'|translate}}
            </strong>
          </mat-expansion-panel-header>
          <div formArrayName="links">
            <div *ngFor="let link of LinksControls; let i=index">
              <mat-form-field fxFlex="100%" [formGroupName]="i">
                <input matInput placeholder=" {{'gift.link.url'|translate}}" formControlName="link" type="url"
                       autocomplete="url">
                <button
                  *ngIf="LinksControls.length-1 == i"
                  mat-stroked-button matSuffix (click)="addLink()" matTooltip="{{'gift.link.add'|translate}}">
                  <mat-icon>add</mat-icon>
                </button>
                <button *ngIf="LinksControls.length > 1"
                        mat-stroked-button matSuffix (click)="removeLink(i)"
                        matTooltip="{{'gift.link.remove'|translate}}">
                  <mat-icon>remove</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <!--PICTURE-->
        <mat-expansion-panel [expanded]="gift.hasImage" class="mb-2">
          <mat-expansion-panel-header class="mb-2">
            <strong>
              <i class="fa fa-picture-o mr-1"></i>
              {{'gift.picture.text'|translate}}
            </strong>
          </mat-expansion-panel-header>
          <div>
            <div>
              <input type="file" #fileInput (change)="fileChangeEvent($event)" style="display: none"/>
              <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [resizeToHeight]="400"
                [onlyScaleDown]=true
                [maintainAspectRatio]="false"
                format="png"
                (imageCropped)="imageCropped($event)"
              ></image-cropper>
              <img *ngIf="giftCroppedImage && !uploadInProgress" [src]="giftCroppedImage"/>
            </div>
            <div>
              <button mat-raised-button (click)="fileInput.click()" class="mb-1">
                <mat-icon>insert_drive_file</mat-icon>
                {{'user.settings.avatar.upload' |translate}}
              </button>
              <button mat-raised-button *ngIf="gift.hasImage" (click)="removePicture()" class="mb-1">
                <mat-icon>clear</mat-icon>
                {{'gift.picture.remove' |translate}}
              </button>
            </div>
          </div>
          <div class="help" [innerHTML]="'gift.picture.help'|translate"></div>
        </mat-expansion-panel>
      </div>
      <div [fxFlex]="30" [fxFlex.lt-sm]="100">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <!-- CATEGORIES-->
          <mat-expansion-panel expanded="true" fxFlex="100%" class="mb-2">
            <mat-expansion-panel-header>
              <strong>
                <i class="fa fa-archive  mr-1"></i>
                {{'gift.category.text'|translate}}
              </strong>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field fxFlex="100%">
                <input matInput placeholder=" {{'gift.category.choose' | translate}}" formControlName="category"
                       [matAutocomplete]="catAutocomplete" autocomplete="off">
                <mat-autocomplete #catAutocomplete="matAutocomplete" [displayWith]="categoryDisplay">
                  <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                    <span [innerHTML]="category.name | highlight:filterTerm"></span>
                  </mat-option>
                </mat-autocomplete>
                <button *ngIf="form.controls.category.value" mat-icon-button matSuffix
                        (click)="resetCategory()">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="form.controls['category'].hasError('prohibited')">
                  {{'gift.category.prohibited'|translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!--SEARCH ENGINES-->
          <mat-expansion-panel fxFlex="100" expanded="true" class="mb-2">
            <mat-expansion-panel-header class="mb-2">
              <strong>
                <i class="fa fa-search mr-1"></i>
                {{'app.manage.search.engine'|translate}}
              </strong>
            </mat-expansion-panel-header>
            <div *ngFor="let ctrl of EnginesControls;let i=index">
              <mat-slide-toggle [formControl]="ctrl.get('selected')">
                <i class="fa fa-fw {{ctrl.get('icon').value}}"></i> {{ctrl.get('name').value}}
              </mat-slide-toggle>
            </div>
            <div class="help" [innerHTML]="'gift.search.help'|translate"></div>
          </mat-expansion-panel>
          <!--HIDDEN-->
          <mat-expansion-panel *ngIf="familyUser" fxFlex="100" expanded="true" class="mb-2">
            <mat-expansion-panel-header>
              <strong>
                <i class="fa fa-user-secret mr-1"></i>
                {{'gift.hidden.text'|translate}}
              </strong>
            </mat-expansion-panel-header>
            <div>
              <mat-slide-toggle formControlName="hidden">
                {{'gift.hidden.text'|translate}}
              </mat-slide-toggle>
            </div>
            <div class="help mb-2" [innerHTML]="'gift.hidden.help'|translate">
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="pr-2 pl-2">
  <button mat-raised-button mat-dialog-close>{{'app.general.cancel'|translate}}</button>
  <button mat-raised-button class="success-button" [disabled]="form.invalid" (click)="commitGift()">
    {{update ? ('gift.edit.text'|translate) : ('gift.new.add'|translate)}}
  </button>
</mat-dialog-actions>
