<div class="modal-header theme">
    <h4 class="modal-title">Lista zmian</h4>
</div>
<div class="modal-body">
    <p>Wersja 0.8</p>
    <ul>
        <li>Pozwalaj na zalogowanie się kontem Facebook'a lub Google</li>
        <li>Wi&#281;cej ni&#380; jeden link dla prezentu</li>
        <li>Na si&#322;&#281; usuwane ciasteczka podczas wylogowania si&#281;. Przekierowanie na stron&#281; logowania dla nie zalogowanego u&#380;ytkownika</li>
    </ul>
    <p>Wersja 0.7</p>
    <ul>
        <li>Dodano newsletter z informacjami o nowych lub zrealizowanych prezentach. Wysy&#322;any co poniedzia&#322;ek do wszystkich kont z oznaczon&#261; w ustawieniach opcj&#261; newslettera</li>
        <li>Naprawa niepoprawnie dzia&#322;aj&#261;cego alfabetycznego sortowania u&#380;ytkownik&oacute;w</li>
        <li>Pokazuj wszystkich u&#380;ytkownik&oacute;w w rozwijanej li&#347;cie na ekranie listy prezent&oacute;w. U&#380;ytkownicy z rodziny
            wybranego obecnie u&#380;ytkownika jako pierwsi
        </li>
        <li>Pozwalaj na zwini&#281;cie ca&#322;ej kategorii na ekranie listy prezent&oacute;w i listy u&#380;ytkownik&oacute;w( ma&#322;y tr&oacute;jk&#261;t ko&#322;o
            nazwy)
        </li>
        <li>Dodano filtrowanie prezent&oacute;w po kategoriach ( ikona <i class="fa fa-lg fa-filter "></i>)
        </li>
    </ul>
</div>
<div class="modal-footer theme">
    <button class="btn btn-primary" ng-click="markRead()">Ok</button>
</div>
