.content {
  margin-top: 88px;
}

.header {
  padding: 1em 2em !important;
}


.title {
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
  font-size: 1.5rem;
}

@media (max-width: 598px) {
  .content {
    margin-top: 60px;
  }
}
