.filter-active {
  position: relative !important;
  left: 5px;
  bottom: -5px;
  font-size: x-small !important;
  color: #5cb85c !important;
}

.header{
  padding: 0.1em 2em!important;
}

.content {
  margin-top: 115px;
}

.content-filtered {
  margin-top: 180px
}
.birthday-soon{
  color: red;
  font-weight: bold;
}

@media (max-width: 598px) {
  .content {
    margin-top: 65px;
  }

  .content-filtered {
    margin-top: 132px
  }
}

