<mat-card class="p-4 fixed-container header">
  <!--Names header-->
  <span class="title">
    <i class="fa fa-lg fa-fw fa-gift"></i>
    {{'gift.claim.calimed'|translate}}</span>
  <div fxLayout="row" fxLayoutGap="5px" fxShow.lt-sm="false">
    <div fxFlex="35">
      {{'gift.name'|translate}}
    </div>
    <div fxFlex="35">
      {{'gift.description'|translate}}
    </div>
    <div fxFlex="5">
      {{'gift.link.text'|translate}}
    </div>
    <div fxFlex="10" class="text-right">
      {{'gift.add.date'|translate}}
    </div>
    <div fxFlex="10" class="text-right pr-1">
    </div>
  </div>

</mat-card>
<div class="content" *ngIf="isLoading">
  <div class="text-center">
    <inner-loader></inner-loader>
  </div>
</div>
<div class="content">
  <mat-card *ngIf="accountsList.length == 0 && isLoading==false">
    <div class="text-center p-1">
      <span class=" stylish-header stylish">{{'gift.claim.noClaimed'|translate}}</span>
    </div>
  </mat-card>
  <ng-container *ngFor="let account of accountsList">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 class="stylish-header" fxFill>
            <avatar [avatar]="account.avatar" classes="avatar small v-middle mr-1"></avatar>
            {{account.fullname}}
            <button mat-stroked-button (click)="navigateToUser($event,account.username)" class="pull-right"
                    matTooltip="{{'user.group.list'|translate}}">
              <i class="fa fa-fw fa-arrow-right"></i>
              <i class="fa fa-fw fa-gift"></i>
            </button>
          </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let gift of gifts.get(account.id);let even=even;trackBy: trackByFn">
        <gift [gift]="gift"
              [even]="even"
        ></gift>
      </div>
    </mat-expansion-panel>
  </ng-container>
</div>
