<!--HEADER-->
<mat-card class="fixed-container header">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10" fxFlex.lt-sm="15%">
      <img matCardAvatar [src]="avatar" class="avatar" alt="User Avatar">

    </div>
    <!--Accounts search bar-->
    <div fxFlex>
      <account-list (account)="changeViewedAccount($event)"></account-list>
    </div>
    <div *ngIf="viewedAccount && viewedAccount.birthday" fxFlex="15" fxFlex.lt-lg="15" fxFlex.lt-md="15"
         matTooltip="{{birthdayInDays === 0?
                ('user.settings.birthday.today' | translate ) :
                ('user.settings.birthday.inDays' | translate : {days:birthdayInDays})}}"
         fxHide.lt-md="true" class="text-center birthday"
    >
      <div>
        <i class="fa fa-birthday-cake mr-1"></i>
        <span class="font-weight-bold">{{'user.settings.birthday.text'|translate}}</span>
      </div>
      <div [class.birthday-soon]="birthdaySoon">
        {{viewedAccount.birthday | date : 'd MMMM' :'': lang }}
      </div>
    </div>
    <div fxFlex="22" fxFlex.lt-lg="30" fxFlex.lt-md="35">
      <!--mobile buttons-->
      <div fxShow.gt-sm="false" fxLayout="row" fxLayoutAlign="end">
        <button class="header-button" fxFlex mat-flat-button [matTooltip]="filteredCategory?
                    ('gift.category.filter.filteringBy'|translate:{name:getCategoryName(filteredCategory)}):
                     'gift.category.filter.text'|translate" (click)="filter=!filter">
          <i class="fa fa-plus-circle filter-active" *ngIf="filteredCategory!==undefined"></i>
          <i class="fa fa-lg fa-filter"></i>
        </button>
        <button class="header-button success-button" fxFlex mat-flat-button (click)="addGiftDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <ng-container>
        <!--TODO import disabled for now-->
        <!--<button fxShow.lt-md="false" mat-flat-button class="success-button pull-right font-smaller"-->
        <!--*ngIf="isUserList">-->
        <!--<mat-icon>cloud_upload</mat-icon>-->
        <!--</button>-->
        <button fxShow.lt-md="false" mat-flat-button class="success-button pull-right mr-1 font-smaller"
                (click)="addGiftDialog()">
          <mat-icon>add</mat-icon>
          <span>
        {{'gift.new.add'|translate}}
        </span>
        </button>
      </ng-container>
    </div>
  </div>
  <!--Names header-->
  <div fxLayout="row" fxLayoutGap="5px" fxShow.lt-sm="false">
    <div fxFlex="35">
      {{'gift.name'|translate}}
    </div>
    <div fxFlex="35">
      {{'gift.description'|translate}}
    </div>
    <div fxFlex="5">
      {{'gift.link.text'|translate}}
    </div>
    <div fxFlex="10" class="text-right">
      {{'gift.add.date'|translate}}
    </div>
    <div fxFlex="10" class="text-right pr-1">
      <button mat-icon-button [matTooltip]="
      filteredCategory?
      ('gift.category.filter.filteringBy'|translate:{name:getCategoryName(filteredCategory)}):
      'gift.category.filter.text'|translate" (click)="filter=!filter">
        <i class="fa fa-plus-circle filter-active" *ngIf="filteredCategory!==undefined"></i>
        <i id="filter-btn" class="fa fa-lg fa-filter"></i>
      </button>
    </div>
  </div>
  <!--FILTER-->
  <div fxLayout="row" *ngIf="filter">
    <div fxFlex>
      <category-list-filter [categories]="categories" [filteredCategory]="filteredCategory"
                            (category)="filterByCategory($event)"
                            (close)="close($event)"
      ></category-list-filter>
    </div>
  </div>
</mat-card>
<div class="content" *ngIf="isLoading">
  <div class="text-center">
    <inner-loader></inner-loader>
  </div>
</div>
<!--GIFTS-->
<div [ngClass]="{'content':!filter,'content-filtered':filter}" *ngIf="categorizedGifts && !isLoading">
  <mat-card *ngIf="noGifts">
    <div class="text-center">
      <span class="stylish-header stylish">{{'gift.noGifts'|translate}}</span>
    </div>
  </mat-card>
  <ng-container *ngFor="let key of categorizedKeys">
    <mat-expansion-panel expanded="true" *ngIf="!filteredCategory || key===filteredCategory">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 class="stylish-header">{{key}}</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let gift of categorizedGifts[key];let even=even;trackBy: trackByFn">
        <gift [gift]="gift"
              [even]="even"
              [canEdit]="canEdit(gift)"
              (refresh)="refresh($event)"
              (delete)="delete($event)"
              (edit)="editGiftDialog($event)"
        ></gift>
      </div>
    </mat-expansion-panel>
  </ng-container>
  <!--OTHER-->
  <mat-expansion-panel expanded="true"
                       *ngIf="unCategorizedGifts && unCategorizedGifts.length > 0 && !filteredCategory ||  filteredCategory ==='####'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="stylish-header">{{'gift.category.other'|translate}}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let gift of unCategorizedGifts;let even=even;trackBy: trackByFn">
      <gift [gift]="gift"
            [even]="even"
            [canEdit]="canEdit(gift)"
            (refresh)="refresh($event)"
            (delete)="delete($event)"
            (edit)="editGiftDialog($event)"
      ></gift>
    </div>
  </mat-expansion-panel>
  <!--REALISED-->
  <mat-expansion-panel #realisedPanel id="realisedPanel"
                       expanded="{{realizedGifts && realizedGifts.length > 0}}"
                       *ngIf="!isLoading && (!filteredCategory ||  filteredCategory === GiftStatus.REALISED)"
                       (opened)="getRealisedGifts()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="stylish-header">{{'gift.category.realised.text'|translate}}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="isRealisedLoading">
      <div class="text-center">
        <inner-loader [blue]="true"></inner-loader>
      </div>
    </div>
    <div *ngIf="!isRealisedLoading && (!realizedGifts || realizedGifts.length == 0)" class="text-center">
      <span class="stylish">
        {{'gift.category.realised.none'|translate}}
      </span>
    </div>
    <div *ngFor="let gift of realizedGifts;let even=even;trackBy: trackByFn">
      <gift [gift]="gift"
            [even]="even"
            [canEdit]="canEdit(gift)"
            (refresh)="refresh($event)"
            (delete)="delete($event)"
            (edit)="editGiftDialog($event)"
      ></gift>
    </div>
  </mat-expansion-panel>
</div>
