.content {
  margin-top: 75px;
}


.title {
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
  font-size: 1.5rem;
}

@media (max-width: 598px) {
  .content {
    margin-top: 60px;
  }
}
