.filter-active {
  position: relative !important;
  left: 5px;
  bottom: -5px;
  font-size: x-small !important;
  color: #5cb85c !important;
}
.content{
  margin-top: 110px;
}
.content-filtered{
  margin-top:180px
}
@media (max-width: 598px) {
  .content{
    margin-top: 80px;
  }
}
