<!--HEADER-->
<mat-card class="pb-1 pt-1 fixed-container header">
  <div fxlayout="row" fxLayoutAlign="center center">
    <div fxFlex="10%" fxFlex.lt-sm="15%">
      <img matCardAvatar [src]="avatar" class="avatar">
    </div>
    <!--Accounts search bar-->
    <div fxFlex>
      <account-list></account-list>
    </div>
    <div fxFlex="22%" fxFlex.lt-lg="30%">
      <ng-container *ngIf="isUserList || isFamilyAdmin">
        <button mat-flat-button class="success-button pull-right font-smaller" fxShow.lt-md="false">
          <mat-icon>cloud_upload</mat-icon>
        </button>
        <button mat-flat-button class="success-button pull-right mr-1 font-smaller">
          <mat-icon>add</mat-icon>
          <span fxShow.lt-md="false">
        {{'gift.new.add'|translate}}
        </span>
        </button>
      </ng-container>
    </div>
  </div>
  <!--Names header-->
  <div fxLayout="row" fxShow.lt-sm="false">
    <div fxFlex>
      {{'gift.name'|translate}}
    </div>
    <div fxFlex>
      {{'gift.description'|translate}}
    </div>
    <div fxFlex>
      {{'gift.link.text'|translate}}
    </div>
    <div fxFlex="10%">
      {{'gift.add.date'|translate}}
    </div>
    <div fxFlex="5%">
      {{'main.action'|translate}}
    </div>
  </div>
</mat-card>
<!--GIFTS-->
<div style="margin-top: 85px">
  <mat-expansion-panel *ngFor="let gifts of categorizedGifts| keyvalue" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>{{gifts.key}}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let gift of gifts.value;let even=even;trackBy: trackByFn">
      <gift [gift]="gift"
            [even]="even"
            [canEdit]="isUserList || isFamilyAdmin"
            (refresh)="refresh($event)"
            (delete)="delete($event)"
      ></gift>
    </div>
  </mat-expansion-panel>
  <!--OTHER-->
  <mat-expansion-panel expanded="true" *ngIf="unCategorizedGifts && unCategorizedGifts.length > 0 ">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>{{'gift.category.other'|translate}}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let gift of unCategorizedGifts;let even=even;trackBy: trackByFn">
      <gift [gift]="gift"
            [even]="even"
            [canEdit]="isUserList || isFamilyAdmin"
            (refresh)="refresh($event)"
            (delete)="delete($event)"
      ></gift>
    </div>
  </mat-expansion-panel>
  <!--REALISED-->
  <mat-expansion-panel expanded="true" *ngIf="realizedGifts && realizedGifts.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>{{'gift.category.realised'|translate}}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let gift of realizedGifts;let even=even;trackBy: trackByFn">
      <gift [gift]="gift"
            [even]="even"
            [canEdit]="isUserList || isFamilyAdmin"
            (refresh)="refresh($event)"
            (delete)="delete($event)"
      ></gift>
    </div>
  </mat-expansion-panel>
</div>
