<mat-card class="pt-0">
  <mat-tab-group mat-stretch-tabs *ngIf="settings">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>build</mat-icon>
        <span fxShow.xs="false" class="ml-1">{{'app.manage.app.text'|translate}}</span>
      </ng-template>
      <ng-template matTabContent>
        <manage-app [settings]="settings" (commit)="getSettings()"></manage-app>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>search</mat-icon>
        <span fxShow.xs="false" class="ml-1">{{'app.manage.search.engine'|translate}}</span>
      </ng-template>
      <ng-template matTabContent>
        <manage-engines [settings]="settings" (commit)="getSettings()"></manage-engines>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>email</mat-icon>
        <span fxShow.xs="false" class="ml-1">{{'app.manage.email.text'|translate}}</span>
      </ng-template>
      <ng-template matTabContent>
        <manage-email></manage-email>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>folder_shared</mat-icon>
        <span fxShow.xs="false" class="ml-1">{{'app.manage.admin.text'|translate}}</span>
      </ng-template>
      <ng-template matTabContent>
        <manage-admins></manage-admins>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>category</mat-icon>
        <span fxShow.xs="false" class="ml-1">{{'app.manage.categories.text'|translate}}</span>
      </ng-template>
      <ng-template matTabContent>
        <manage-categories [settings]="settings" (commit)="getSettings()"></manage-categories>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
