<div fxLayout="row wrap" fxLayoutGap="5px" class="p-2"
     [ngClass]="{
      'gift-realised':gift.status === GiftStatus.REALISED,
      'gift-claimed':gift.claimed && gift.status !== GiftStatus.REALISED,
      'even':even
     }">
  <div fxFlex="35" fxFlex.lt-md="100">
    <!--STATUS-->
    <span class="gift-status mr-2">
      <ng-container *ngIf="currentAccount">
         <span *ngIf="gift.status === GiftStatus.NEW && !gift.claimed" matTooltip="{{'gift.status.new'|translate}}"
               #tooltip="matTooltip" (click)="tooltip.toggle()"
               class="new-gift ">
              <i class="fa fa-fw fa-certificate"></i>
       <i class="fa fa-fw fa-2x fa-gift" aria-hidden="true"></i>
        </span>
      <span *ngIf="gift.status === GiftStatus.REALISED"
            matTooltipClass="gift-tooltip"
            matTooltip="{{'gift.status.realised'|translate}}&#13;{{gift.realised |date:'dd.MM.yyyy'}}"
            #tooltip="matTooltip" (click)="tooltip.toggle()">
      <i class="fa fa-fw fa-check"></i>
      <i class="fa fa-fw fa-2x fa-gift" aria-hidden="true"></i>
    </span>
      <span *ngIf="gift.claimed && gift.status !== GiftStatus.REALISED"
            matTooltip="{{'gift.status.claimed'|translate}}&#13;{{gift.claimed.fullname}}" #tooltip="matTooltip"
            (click)="tooltip.toggle()">
      <i class="fa fa-fw fa-hand-paper-o"></i>
      <i class="fa fa-fw fa-2x fa-gift" aria-hidden="true"></i>
    </span>
      <span *ngIf="!gift.status && !gift.claimed" matTooltip="{{'gift.gift'|translate}}" #tooltip="matTooltip"
            (click)="tooltip.toggle()">
      <i class="fa fa-fw fa-minus fa-spacer"></i>
      <i class="fa fa-fw fa-2x fa-gift" aria-hidden="true"></i>
    </span>
      </ng-container>
      <ng-container *ngIf="!currentAccount">
        <span matTooltip="{{'gift.gift'|translate}}" #tooltip="matTooltip" (click)="tooltip.toggle()">
             <i class="fa fa-fw fa-minus fa-spacer"></i>
             <i class="fa fa-fw fa-2x fa-gift" aria-hidden="true"></i>
         </span>
      </ng-container>
    </span>
    <!--NAME-->
    <span>
      <i class="fa fa-fw fa-user-secret" *ngIf="gift.hidden" matTooltip="{{'gift.hidden.text'|translate}}"
         #tooltip="matTooltip" (click)="tooltip.toggle()"></i>
      <strong>{{gift.name}}</strong>
      <br>
      <span *ngIf="createdBy" class="gift-added-by">{{'gift.add.addedBy'|translate}}: {{createdBy.fullname}}</span>
    </span>
  </div>
  <!--DESCRIPTION-->
  <div fxFlex="35" fxFlex.lt-md="100%">
    {{gift.description}}
  </div>
  <!--LINKS-->
  <div fxFlex="5" fxFlex.lt-md="45">
    <div fxLayout="column" fxLayout.lt-md="row">
      <div *ngFor="let link of gift.links;let i = index" fxFlex>
        <a [href]="link" target="_blank">
          <i class="fa fa-link"></i>
          <span fxShow.lt-lg="false">Link </span>
          <span>{{i + 1}}</span>
        </a>
      </div>

    </div>
  </div>
  <!--SEARCH ENGINES-->
  <div fxFlex="5" fxFlex.lt-md="50">
    <span *ngFor="let engine of gift.engines" class="search-engines">
      <a class="pull-right" href="{{engine.searchString + gift.name}}" target="_blank"
         matTooltip="{{'gift.search.with'|translate}} {{engine.name}}">
        <i [class]="'fa fa-fw '+engine.icon"></i>
      </a>
  </span>
  </div>
  <!--CREATE DATE-->
  <div fxFlex="10" fxFlex.lt-md="45">
    {{gift.created|date:'dd.MM.yyyy'}}
  </div>
  <!--ACTIONS-->
  <div fxFlex="5" fxFlex.lt-md="50">
    <div fxLayout="row wrap" fxLayoutAlign="end center" *ngIf="currentAccount">
      <button *ngIf="canBeClaimed()" mat-icon-button (click)="claim()" matTooltip="{{'gift.claim.text'|translate}}"
              class="action-button"
              fxFlex="50%" fxFlex.lt-md>
        <i class="fa fa-fw fa-lg fa-hand-paper-o"></i>
      </button>
      <button *ngIf="canBeUnClaimed()" mat-icon-button (click)="unClaim()" class="action-button"
              matTooltip="{{'gift.unclaim.text'|translate}}" fxFlex="50%">
        <span class="fa-stack">
          <i class="fa fa-times fa-stack-1x"></i>
          <i class="fa fa-lg fa-hand-paper-o fa-stack-1x"></i>
        </span>
      </button>
      <ng-container *ngIf="canEdit">
        <button mat-icon-button matTooltip="{{'gift.edit.text'|translate}}"
                fxFlex="50%" fxFlex.lt-md class="action-button"
                (click)="editGift()" *ngIf="gift.status !== GiftStatus.REALISED">
          <i class="fa fa-fw fa-lg fa-pencil"></i>
        </button>
        <button mat-icon-button matTooltip="{{'gift.complete.text'|translate}}" fxFlex="50%" fxFlex.lt-md
                class="action-button" *ngIf="gift.status !== GiftStatus.REALISED" (click)="complete()">
          <i class="fa fa-fw fa-lg fa-check-circle-o"></i>
        </button>
        <button mat-icon-button matTooltip="{{'gift.complete.undo.text'|translate}}" fxFlex="50%" fxFlex.lt-md
                class="action-button" *ngIf="gift.status === GiftStatus.REALISED" (click)="undoComplete()">
          <i class="fa fa-fw fa-lg fa-circle-o"></i>
        </button>
        <button mat-icon-button matTooltip="{{'gift.delete.text'|translate}}" fxFlex="50%" fxFlex.lt-md
                class="action-button" (click)="deleteGift()">
          <i class="fa fa-fw fa-lg fa-trash"></i>
        </button>
      </ng-container>
    </div>
  </div>
</div>

