<div ng-if="authenticated" xmlns:th="http://www.w3.org/1999/xhtml">
    <div ng-if="authenticated" xmlns:th="http://www.w3.org/1999/xhtml" class="row">
        <div class="form-group col-md-6">
            <select class="form-control input-sm" name="language" th:field="*{languages}"
                    ng-model="principal.language" ng-change="update()">
                <option th:each="lang : ${languages}" th:value="${lang.key}" th:text="${lang.value}">
                </option>
            </select>
        </div>
    </div>
</div>
