<navigation></navigation>
<!-- Add Content Here -->
<main class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%"
      fxLayoutAlign="center">
  <div fxFlex="80%">
    <go-top-button
      [animate]="true"
      [speed]="50"
      [acceleration]="2"
      [styles]="{   'right': '5px',
                    'bottom':'5px',
                    'top':'initial',
                    'line-height': '20px',
                    'z-index': 999,
                    'width': '40px',
                    'height': '40px'}">
      <i class="fa fa-arrow-up"></i>
    </go-top-button>
    <!--CONTENT-->
    <router-outlet></router-outlet>
  </div>
</main>
