<!doctype html>
<html>
<head>
    <title>Gifts hub</title>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<!--CSS-->
<link rel="icon" type="image/png" href="images/favicon.ico"/>
<link rel="stylesheet" href="css/app.css"/>
<link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.css"/>
<link rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="css/bootstrap-social.css"/>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
<!--BODY-->
<body ng-app="app" ng-cloak="" class="ng-cloak" ng-controller="navigation">
<!--NAVBAR-->
<nav class="navbar theme navbar-fixed-top hidden-print">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="images/logo-white.png" width="40px" height="40px"/></a>
            <span class="stylish brand pull-left" style="font-size: xx-large">Gifts hub</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul ng-if="authenticated" class="nav navbar-nav navbar-right hidden-xs">
                <li>
                    <a href="#/settings" class="white nav-username">{{principal.name}}</a>
                </li>
                <li class="nav-avatar">
                    <img ng-if="principal.avatar" ng-src="data:image/png;base64,{{principal.avatar}}" class="avatar"/>
                    <img ng-if="!principal.avatar" src='images/avatar-placeholder.png' class="avatar"/>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <!--SIDEBAR-->
        <div class="col-sm-2 col-md-1 sidebar" id="sidebar-div">
            <!--<div class="brand text-center">-->
            <!--<img src="images/logo-white.png" width="40px" height="40px"/>-->
            <!--<p class="stylish">Gifts hub</p>-->
            <!--</div>-->
            <ul class="nav nav-sidebar hidden-print text" role="tablist">
                <li ng-show="!authenticated" ng-class="{active:tab('navigation')}"><a href="#/login">login</a></li>
                <li ng-show="authenticated" ng-class="{active:tab('add-gift')}" class="text-center side-menu">
                    <a href="#/add-gift">
                        <span>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <i class="fa fa-2x fa-gift" aria-hidden="true"></i>
                            <p>Add gift</p>
                        </span>
                    </a>
                </li>
                <li ng-show="authenticated" ng-class="{active:tab('list')}" class="text-center">
                    <a href="#/list">
                        <span>
                            <i class="fa fa-list" aria-hidden="true"></i>&nbsp;<i class="fa fa-2x fa-gift"
                                                                                  aria-hidden="true"></i>
                            <p>Gifts List</p>
                        </span>
                    </a>
                </li>

                <li ng-show="authenticated" class="text-center">
                    <a href="#/settings">
                        <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Settings
                    </a>
                </li>
                <li ng-show="authenticated" class="text-center">
                    <a href="" ng-click="logout()">
                        <i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;Logout
                    </a>
                </li>
            </ul>
        </div>
        <!--CONTENT-->
        <div class="col-sm-10 col-md-11 col-md-offset-1 col-sm-offset-2 main">
            <div ng-view="" class="main-container">
            </div>
        </div>
    </div>
</div>
<script src="webjars/angularjs/1.6.1/angular.js"></script>
<script src="webjars/angularjs/1.6.1/angular-cookies.js"></script>
<script src="webjars/angularjs/1.6.1/angular-route.js"></script>
<script src="webjars/angularjs/1.6.1/angular-resource.min.js"></script>
<!--APP JS-->

<script src="js/app.js"></script>
<script src="js/services/AvatarService.js"></script>
<script src="js/services/AuthService.js"></script>
<script src="js/controllers/home.js"></script>
<script src="js/controllers/user.js"></script>
<script src="js/controllers/list.js"></script>
<script src="js/controllers/settings.js"></script>


<!--<script src="js/hello.js"></script>-->
</body>
</html>
