<navigation-unauthenticated></navigation-unauthenticated>
<main class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%"
      fxLayoutAlign="center">
  <div fxFlex="80%">
    <mat-card class="text-center">
      <mat-card-title>
        <h4>
          <img src="assets/images/logo.svg" height="50px" class="ml-2 v-middle">
          <span class="stylish">Gifts hub</span>
        </h4>
        <h6 [innerHTML]="'user.password.change.title'|translate"></h6>
      </mat-card-title>
      <div>
        <form [formGroup]="passwordForm">
          <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
            <mat-form-field fxFlex="40" fxFlex.lt-sm="100">
              <input matInput placeholder="{{'user.password.change.new'|translate}}"
                     formControlName="password" required type="password">
              <mat-hint>{{'user.register.password.hint'|translate}}</mat-hint>
              <mat-error *ngIf="passwordForm.hasError('required', ['password'])">
                {{'user.register.password.required'|translate}}
              </mat-error>
              <mat-error *ngIf="passwordForm.hasError('weak', ['password'])">
                {{'user.register.password.tooweak'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
            <mat-form-field fxFlex="40" fxFlex.lt-sm="100">
              <input matInput placeholder="{{'user.register.password.confirm'|translate}}"
                     formControlName="confirmPassword" required
                     [errorStateMatcher]="matcher"
                     type="password">
              <mat-hint>{{'user.register.password.confirm'|translate}}</mat-hint>
              <mat-error *ngIf="passwordForm.hasError('notSame')">
                {{'user.register.password.nomatch'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="text-left mt-3">
            <div fxFlex="40" fxFlex.lt-sm="100">
              <div>
                <span fxShow.lt-sm="false">{{'user.register.password.strength'|translate}}</span>
              </div>
              <div>
                <button mat-raised-button [disabled]="passwordForm.invalid"
                        (click)="changePassword()"
                        class="pull-right success-button">
                  {{'user.password.change.text'|translate}}
                </button>
              </div>
            </div>
          </div>
          <div>
            {{'user.login.existing'|translate}}
            <a routerLink="/login">
              {{'user.login.text'|translate}}
            </a>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</main>
