<h1 mat-dialog-title>
  <i class="fa fa-child mr-1"></i>
  {{update ? ('user.group.edit.kid.text'|translate) : ('user.group.add.kid.text'|translate)}}
</h1>
<mat-dialog-content>
  <div class="help text-center" [innerHTML]="'user.group.add.kid.help'|translate" *ngIf="!update">
  </div>
  <form [formGroup]="form">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="100%" class="text-center">

        <h3>
          <mat-icon>assignment_ind</mat-icon>
          {{'user.settings.avatar.text'|translate}}
        </h3>
        <input type="file" #fileInput (change)="fileChangeEvent($event)" style="display: none"/>
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [resizeToHeight]="200"
          [roundCropper]="true"
          [onlyScaleDown]=true
          [maintainAspectRatio]="true"
          format="png"
          (imageCropped)="imageCropped($event)"
        ></image-cropper>
        <img *ngIf="avatarData && !uploadInProgress" [src]="avatarData"/>
        <div>
          <button mat-raised-button (click)="fileInput.click()" class="mb-1">
            <mat-icon>insert_drive_file</mat-icon>
            {{'user.settings.avatar.upload' |translate}}
          </button>
        </div>
      </div>
      <div fxFlex="80%">
        <mat-form-field fxFlex="100%">
          <input matInput placeholder="{{'user.firstname.text'|translate}}" formControlName="name" required>
        </mat-form-field>
      </div>
      <div fxFlex="80%">
        <mat-form-field fxFlex="100%">
          <input matInput placeholder="{{'user.surname.text'|translate}}" formControlName="surname" required>
        </mat-form-field>
      </div>
      <div fxFlex="80%">
        <mat-form-field fxFlex="100%" *ngIf="!update">
          <input matInput placeholder="{{'user.username'|translate}}" formControlName="username">
          <mat-error *ngIf="form.controls.username.hasError('username')">
            {{'user.register.username.exists'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mb-2" fxFlex="80%">
        <mat-slide-toggle formControlName="publicList">
          {{'user.settings.public.text'|translate}}
        </mat-slide-toggle>
      </div>
      <div [innerHTML]="'user.settings.public.help'|translate" class="help" fxFlex="80%">
      </div>
      <div fxFlex="80%" *ngIf="kid.publicList">
        <mat-form-field fxFlex="100%">
          <input matInput [value]="publicUrl" #publicLink disabled>
          <button matSuffix mat-stroked-button matTooltip="{{'user.settings.public.copy.text'|translate}}"
                  (click)="copyLink(publicLink)">
            <mat-icon>link</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxFlex="80%" class="text-center" *ngIf="kid.id && update">
        <button mat-flat-button color="warn">
          {{'user.group.delete.kid.text'|translate}}
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="pr-2 pl-2">
  <button mat-raised-button mat-dialog-close>{{'app.general.cancel'|translate}}</button>
  <button mat-raised-button class="success-button" [disabled]="form.invalid" (click)="commitKid(form.valid)">
    {{update ? ('user.group.edit.kid.text'|translate) : ('user.group.add.kid.text'|translate)}}
  </button>
</mat-dialog-actions>
