<div class="modal-header theme">
    <h4 class="modal-title">Lista zmian</h4>
</div>
<div class="modal-body">
    <p>Wersja 0.7</p>
    <ul>
        <li>Naprawa niepoprawnie działającego alfabetycznego sortowania użytkowników</li>
        <li>Pokazuj wszystkich użytkowników w rozwijanej liście na ekranie listy prezentów. Użytkownicy z rodziny
            wybranego obecnie użytkownika jako pierwsi
        </li>
        <li>Pozwalaj na zwinięcie całej kategorii na ekranie listy prezentów i listy użytkowników( mały trójkąt koło
            nazwy)
        </li>
        <li>Dodano filtrowanie prezentów po kategoriach ( ikona <i id="filter-btn" class="fa fa-lg fa-filter "></i>)
        </li>
    </ul>
</div>
<div class="modal-footer theme">
    <button class="btn btn-primary" ng-click="markRead()">Ok</button>
</div>
