<div ng-if="authenticated">
    <h4 translate="user.list"></h4>
    <div class="row header-fixed animate-appear" fixed-top="fix-to-top">
        <div>
            <div class="row">
                <div class="col-xs-4 col-sm-3">
                    <span class="btn btn-default btn-sm" ng-class="sortByName?'active':''"
                          uib-tooltip="{{'user.sort.name'|translate}}"
                          ng-click="!sortByName?sortByNames():null">
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                    </span>
                    <span class="btn btn-default btn-sm" ng-class="sortByFamily?'active':''"
                          uib-tooltip="{{'user.sort.family'|translate}}"
                          ng-click="!sortByFamily?sortByFamilies():null">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="col-xs-8 col-sm-9">
                <span class="btn btn-success btn-sm pull-right margin5 " ng-if="!hasFamily" ng-click="createFamily()">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span class="hidden-xs" translate="user.family.create"></span>
                </span>
                    <span class="btn btn-success btn-sm pull-right margin5 "
                          ng-if="hasFamily && familyAdmin" ng-click="addKid()">
                    <i class="fa fa-plus"></i><i class="fa fa-child" aria-hidden="true"></i>&nbsp;
                    <span class="hidden-xs" translate="user.family.add.kid"></span>
                </span>
                    <span class="btn btn-success btn-sm pull-right margin5 " ng-if="hasFamily" ng-click="editFamily()">
                    <i class="fa fa-pencil"></i>&nbsp;
                    <span class="hidden-xs" translate="user.family.edit"></span>
                </span>
                </div>
            </div>
            <div class="row header hidden-xs">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-5">
                    <strong translate="user.fullname"></strong>
                </div>
                <div class="col-sm-3">
                    <strong translate="user.email"></strong>
                </div>
                <div class="col-sm-3">
                    <strong translate="main.action" class="pull-right margin-right20"></strong>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="sortByName" ng-cloak="" class="row padded-row" ng-class-odd="'row-color'"
         ng-repeat="user in users track by user.id"
         ng-include="'userRow-template.html'">
    </div>
    <div ng-if="sortByFamily" ng-cloak="" class="row" ng-repeat="family in families">
        <h4>{{family.name}}</h4>
        <div class="row padded-row" ng-class-odd="'row-color'" ng-repeat="user in family.members"
             ng-include="'userRow-template.html'">
        </div>
    </div>
    <!--<div ng-if="sortByFamily" ng-cloak="" class="row" ng-repeat="family in families">-->
    <!--<h4>{{family.name}}</h4>-->
    <!--<div class="row padded-row" ng-class-odd="'row-color'" ng-repeat="user in family.members"-->
    <!--ng-include="'userRow-template.html'">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div ng-if="sortByFamily" ng-cloak="" class="row" ng-repeat="family in families">-->
    <!--<h4>{{family.name}}</h4>-->
    <!--<div class="row padded-row" ng-class-odd="'row-color'" ng-repeat="user in family.members"-->
    <!--ng-include="'userRow-template.html'">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div ng-if="sortByFamily" ng-cloak="" class="row" ng-repeat="family in families">-->
    <!--<h4>{{family.name}}</h4>-->
    <!--<div class="row padded-row" ng-class-odd="'row-color'" ng-repeat="user in family.members"-->
    <!--ng-include="'userRow-template.html'">-->
    <!--</div>-->
    <!--</div>-->
    <div class="row" ng-if="sortByFamily">
        <h4 translate="user.family.other"></h4>
        <div class="row padded-row" ng-class-odd="'row-color'" ng-repeat="user in usersWithoutFamily"
             ng-include="'userRow-template.html'">
        </div>
    </div>
</div>

<script type="text/ng-template" id="userRow-template.html">
    <div class="col-xs-1 col-sm-1">
        <img ng-if="user.avatar && user.avatar !=='NaN'" ng-src="{{user.avatar}}" class="avatar"/>
        <img ng-if="!user.avatar || user.avatar ==='NaN'" src='images/avatar-placeholder.png' class="avatar"/>
    </div>
    <div class="col-xs-11 col-sm-5">
        <i class="fa fa-child" aria-hidden="true" ng-if="user.type ==='KID'"
           uib-tooltip="{{'user.family.kid'|translate}}">
        </i>
        <a class="black" ng-href="#/list/{{user.username}}">{{user.name}}&nbsp;{{user.surname}} ({{user.username}})</a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a ng-if="user.email" ng-href="mailto:{{user.email}}"><i class="fa fa-envelope">&nbsp;{{user.email}}</i></a>
    </div>
    <div class="col-xs-6 col-sm-3">
            <span class="pull-right">
                <a ng-if="user.publicList" class="black" ng-href="{{getPublicUrl(user)}}"
                   uib-tooltip="{{'user.settings.public'|translate}}">
                    <i class="fa fa-link"></i></a>
                <span ng-if="user.type == 'KID' && isUsersFamilyKid(user) && familyAdmin"
                      class="btn btn-sm btn-default" ng-click="editKid(user)">
                    <i class="fa fa-pencil"></i>
                </span>
                <a class="btn btn-sm btn-default" ng-href="#/list/{{user.username}}"><i class="fa fa-fw fa-gift"></i>Gift
                list</a>
            </span>
    </div>
</script>
