<div ng-if="authenticated">
    <div>
        <div class="row header-fixed animate-appear" fixed-top="fix-to-top">
            <div>
                <!--ACCOUNT SWITCHER-->
                <div class="row margin-bottom5" ng-cloak>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
                        <img ng-if="userGiftList.avatar && userGiftList.avatar !=='NaN'"
                             ng-src="{{userGiftList.avatar}}"
                             class="avatar"/>
                        <img ng-if="userGiftList.avatar ==='NaN'" src='images/avatar-placeholder.png'
                             class="avatar"/>

                        <i class="fa fa-child hidden-xs" aria-hidden="true" ng-if="userGiftList.type ==='KID'"
                           uib-tooltip="{{'user.family.kid'|translate}}">
                        </i>
                    </div>
                    <div class="col-xs-10 col-sm-6 col-md-4 family-members" ng-if="family.members">
                        <ui-select id="members" ng-model="userGiftList" on-select="goToMemberList($item)">
                            <ui-select-match placeholder="{{'user.family.select.other'|translate}}" allow-clear="false"
                                             ng-cloak>
                                <span ng-show="userGiftList.fullname">{{userGiftList.fullname}} ({{userGiftList.username}})</span>
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="user in (family.members | propsFilter: {fullname: $select.search, username: $select.search}) track by user.id">
                                <div class="row">
                                    <div class="col-xs-1">
                                        <img ng-if="user.avatar && user.avatar !=='NaN'" ng-src="{{user.avatar}}"
                                             class="avatar small"/>
                                        <img ng-if="!user.avatar || user.avatar ==='NaN'"
                                             src='images/avatar-placeholder.png'
                                             class="avatar small"/>
                                    </div>
                                    <div class="col-xs-10">
                                <span class="margin-left10"
                                      ng-bind-html="user.fullname | highlight: $select.search"></span>&nbsp;
                                        (<span ng-bind-html="''+user.username | highlight: $select.search"></span>)
                                    </div>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-10 col-sm-6 col-md-4 family-members" ng-if="!family.members"
                         ng-show="userGiftList.fullname">
            <span style="display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px;line-height: 1.42857143;color: #555;">
                {{userGiftList.fullname}} ({{userGiftList.username}})
            </span>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-offset-2 col-lg-offset-4 col-md-3">
                        <button type="button" class="btn btn-success pull-right" ng-click="showImport()" id="btn-import"
                                uib-tooltip="{{'gift.import'| translate}}"
                                ng-show="userList || family.familyAdmin">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-success pull-right" ng-click="showCreate()" id="btn-add"
                                ng-show="userList || family.familyAdmin">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span translate="gift.new.add"></span>
                        </button>
                    </div>
                </div>
                <!--HEADER-->
                <div class="row header hidden-xs">
                    <div class="col-sm-3">
                        <strong translate="gift.name"></strong>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <strong translate="gift.description"></strong>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <strong translate="gift.link"></strong>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        <strong translate="gift.add.date"></strong>
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        <strong translate="main.action"></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--LIST-->
    <div ng-repeat="(key, value) in giftsList">
        <h4><strong translate="{{key}}">{{key}}</strong></h4>
        <div class="row padded-row"
             ng-class-odd="'row-color'"
             ng-class="getGiftClass(gift)"
             ng-repeat="gift in value">
            <div class="col-xs-12 col-sm-3">
                <gift-status gift="gift"></gift-status>
                <strong>{{gift.name}}</strong>
            </div>
            <div class="col-xs-12 col-sm-3">{{gift.description}}</div>
            <div class="col-xs-12 col-sm-3">
                <a ng-if="gift.link" ng-href="{{gift.link}}" class="gift-link">{{ gift.name }}</a>
                <span ng-repeat="engine in gift.engines" class="search-engines">
                <a class="pull-right" ng-href="{{engine.searchString + gift.name}}" target="_blank">
                <i ng-class="'fa fa-fw '+ engine.icon"
                   aria-hidden="true" uib-tooltip="{{searchWith + engine.name}}"></i>
                </a>
            </span>
            </div>
            <div class="col-xs-6 col-sm-2" format-date date="gift.created"></div>
            <div class="col-xs-6 col-sm-1 text-right gift-actions">
                <!--CLAIM-->
                <span class="clickable">
                    <span class="fa-stack" ng-if="canBeClaimed(gift)"
                          ng-click="claimGift(gift)" uib-tooltip="{{'gift.claim' | translate}}"
                          tooltip-placement="left">
                            <i class="fa fa-fw fa-lg fa-hand-paper-o" aria-hidden="true" style="margin-left: 1px;"></i>
                    </span>
                    <span class="fa-stack" ng-if="canBeUnClaimed(gift)"
                          uib-tooltip="{{'gift.unclaim' | translate}}" tooltip-placement="left"
                          ng-click="unClaimGift(gift)">
                            <i class="fa fa-times fa-stack-1x"></i>
                            <i class="fa fa-lg fa-hand-paper-o fa-stack-1x"></i>
                    </span>
                </span>
                <!--COMPLETE-->
                <span class="clickable" ng-if="canBeEdited(gift)" ng-click="realiseGift(gift)"
                      uib-tooltip="{{'gift.complete' | translate}}" tooltip-placement="left">
                        <i class="fa fa-fw fa-lg fa-check-circle-o" aria-hidden="true"></i>
                    </span>
                <!--UNCOMPLETE-->
                <span class="clickable" ng-if="canBeUndoRealised(gift)" ng-click="undoRealiseGift(gift)"
                      uib-tooltip="{{'gift.complete.undo' | translate}}" tooltip-placement="left">
                        <i class="fa fa-fw fa-lg fa-circle-o" aria-hidden="true"
                        ></i>
                    </span>
                <!--EDIT-->
                <span class="clickable" ng-if="canBeEdited(gift)" ng-click="showEdit(gift)"
                      uib-tooltip="{{'gift.edit' | translate}}" tooltip-placement="left">
                        <i class="fa fa-fw fa-lg fa-pencil" aria-hidden="true"></i>
                </span>
                <!--DELETE-->
                <span class="clickable" ng-if="canBeEdited(gift)"
                      uib-tooltip="{{'gift.delete' | translate}}" ng-click="deleteGift(gift)" tooltip-placement="left"
                      confirm="{{'gift.delete.confirm' | translate}}"
                      confirm-title="{{'gift.delete' | translate}} ?"
                      confirm-icon="fa-trash"
                      confirm-ok="{{'main.delete'| translate}}">
                        <i class="fa fa-fw fa-lg fa-trash" aria-hidden="true"></i>
                    </span>
            </div>
        </div>
    </div>
</div>

