<virtual-step tourtip="{{'tour.step.1'|translate}}"tourtip-element="#menu-nav" tourtip-placement="bottom" tourtip-title="Gifts Hub"
              post-step="test()" use-source-scope="true"></virtual-step>
<virtual-step tourtip="{{'tour.step.2'|translate}}" tourtip-element="#menu-gifts" on-proceed="test()"
              tourtip-placement="bottom"></virtual-step>
<virtual-step tourtip="{{'tour.step.3'|translate}}" tourtip-element="#btn-add"
              tourtip-placement="bottom"></virtual-step>
<virtual-step tourtip="{{'tour.step.4'|translate}}" tourtip-element="#menu-users"
              tourtip-placement="bottom"></virtual-step>