<div class="gift-dialog-component">
  <h1 mat-dialog-title>
    <mat-icon>group</mat-icon>
    {{update ? ('user.group.edit.text'|translate) : ('user.group.create.text'|translate)}}
  </h1>
  <mat-dialog-content class="modal-content-m-0 gifts-dialog-content">
    <div class="mt-3">
      <mat-form-field fxFlex class="font-larger">
        <input matInput [formControl]="nameCtrl" placeholder="{{'user.group.name'|translate}}" type="text"
               autocomplete="off">
      </mat-form-field>
    </div>
    <div>
      <ng-container *ngIf="members.length > 0 ">
        <h4>
          <mat-icon>group</mat-icon>
          {{'user.group.members'|translate}}
        </h4>
        <div fxLayout="row" fxLayoutAlign="end">
          <div fxFlex>
            {{'user.fullname'|translate}}
          </div>
          <div fxFlex="20" class="text-center">
            {{'main.action'|translate}}
          </div>
        </div>
        <!--Members-->
        <div *ngFor="let member of members;let even=even" [ngClass]="{'even':even}" fxLayout="row"
             fxLayoutAlign="center center">
          <div fxFlex="10" fxFlex.lt-sm="15">
            <avatar [avatar]="member.avatar" classes="avatar small"></avatar>
          </div>
          <div fxFlex>
            <span *ngIf="member.type === AccountType.KID" matTooltip="{{'user.group.kid'|translate}}">
              <i class="fa fa-child"></i>
            </span>
            <span *ngIf="member.groupAdmin" matTooltip="{{'user.group.administrator'|translate}}">
               <i class="fa fa-address-card-o"></i>
            </span>
            {{member.fullname}}
          </div>
          <div *ngIf="currentAccount.groupAdmin" fxFlex="20">
            <button mat-icon-button (click)="removeMember(member)"
                    matTooltip="{{'user.group.kick.text'|translate}}">
              <mat-icon>clear</mat-icon>
            </button>
            <button *ngIf="member.groupAdmin" mat-icon-button (click)="removeAdmin(member)"
                    matTooltip="{{'user.group.admin.remove.text'|translate}}">
              <i class="fa fa-minus"></i><i class="fa fa-1_5x fa-wrench"></i>
            </button>
            <button *ngIf="!member.groupAdmin && member.type !== AccountType.KID" mat-icon-button
                    (click)="addAdmin(member)" matTooltip="{{'user.group.admin.add.text'|translate}}">
              <i class="fa fa-plus"></i><i class="fa fa-1_5x fa-wrench"></i>
            </button>
          </div>
        </div>
      </ng-container>
      <h4>
        <mat-icon>group_add</mat-icon>
        {{'user.group.invite.text'|translate}}</h4>
      <div fxLayout="row wrap">
        <mat-form-field fxFlex="100">
          <input matInput [formControl]="newMemberCtrl" placeholder="{{'user.group.invite.new'|translate}}"
                 type="email" autocomplete="off" (keydown.enter)="addToInvites()">
          <button mat-stroked-button matSuffix [disabled]="newMemberCtrl.hasError('email')" (click)="addToInvites()">
            <mat-icon>person_add</mat-icon>
          </button>
        </mat-form-field>
        <div fxFlex="100" *ngFor="let identification of identifications">
          <i>{{identification}}</i>
        </div>
      </div>
    </div>
    <div *ngIf="update" class="mt-3 mb-3">
      <h4>{{'user.group.leave.text'|translate}}</h4>
      <div class="text-center ">
        <button mat-flat-button color="warn" (click)="leaveFamily()">
          <mat-icon>clear</mat-icon>
          {{'user.group.leave.text'|translate}}
        </button>
      </div>
    </div>
  </mat-dialog-content>
  <hr>
  <div class="spacer"></div>
  <mat-dialog-actions align="end" class="pr-2 pl-2">
    <button mat-raised-button (click)="cancel()">{{'app.general.cancel'|translate}}</button>
    <button mat-raised-button class="success-button" (click)="commit()">
      {{(update ? 'user.group.edit.text' : 'user.group.create.text') |translate}}
    </button>
  </mat-dialog-actions>
</div>
