<div class="modal-header theme">
    <h4 class="modal-title">Change log</h4>
</div>
<div class="modal-body">
    <p>Version 0.8</p>
    <ul>
        <li>Allow to sign in with either facebook or google into one account</li>
        <li>Add more than one link to gift</li>
        <li>Force delete cookie at logout and force redirect to login page for unauthenticated users</li>
    </ul>
    <p>Version 0.7</p>
    <ul>
        <li>Add scheduled newsletter with what was added or marked as completed in application. Sent every monday to all accounts with newsletter option enabled in settings</li>
        <li>Fix sorting alphabetically not working correctly within families and account lists</li>
        <li>Show all users on gift list user drop down, user from selected family first</li>
        <li>Collapse category on gift list and users views</li>
        <li>Add filtering gifts by category (<i class="fa fa-lg fa-filter "></i> icon)</li>
    </ul>
</div>
<div class="modal-footer theme">
    <button class="btn btn-primary" ng-click="markRead()">Ok</button>
</div>